<ng-container *ngIf="!logged">
  <div class="login">
    <div><input type="text" [(ngModel)]="username"></div>
    <div><input type="password" [(ngModel)]="password"></div>
    <div><button (click)="login()">Log In</button></div>
  </div>
</ng-container>
<ng-container *ngIf="logged">
  <div class="login">
    <div><button (click)="logout()">Log Out</button></div>
  </div>
  <div class="inCategory">
    <div *ngFor="let t of categories" (click) = "getProductList(t)" class = "category">
      <div class="data">
        <input type="text" [(ngModel)]="t.name">
      </div>
      <span (click) = "updateCat(t)">CHANGE</span>
      <span (click) = "deleteCat(t)">DELETE</span>

    </div>
    <div class="create">
      <input type="text"  [(ngModel)]="CatName">
      <button class="createBtn" (click) = "createCat()">CREATE</button>
    </div>

  </div>
</ng-container>
